{% extends 'core/base.html' %}

{%block title%}
El Mensaje - Galeria de Arte | RECEPCION DE OBRAS
{%endblock%}
{% load static %}
{%block css%}
    <link rel="icon" href="{% static 'core/img/el_mensaje_iso.png'%}">
    <link rel="stylesheet" href="{% static 'core/css/contacto.css'%}">
{%endblock%}
 

        {%block content%}

        <div class="linea"> - </div>
    </div>
    <div class="cartelera">
        
        <div class="letrina">
            <div class="exposicion">
            
            </div>
            <div>
            <h2 class="cartel1">RECEPCION DE OBRAS</h2>
            </div>
            <div class="cartel2">
                <br>
                
                <h3>CONSIGNACION</h3>
                        <p>Se tomaran obras en consignacion tanto para subastas como exposiciones. Para esto solicitamos nos envíe fotos de frente, dorso y documentacion si la hubiese.</p>
                <br>
                <br>
                <h3>COMPRA</h3>
                        <p>Si es poseedor de obras y desea venderlas, comuniquese por los medios de contacto establecidos con fotos y certifiaciones correspondientes.</p>



              
              
              
            
            
            </div>
        </div>
    </div>

    <div>

    </div>
    <div class="divlogosolo">
      <img class="logosolo" src="{% static 'core/img/el_mensaje_positivo_iso.png'%}" alt="elmensajelogo">
      
  </div>
    
  </header>
    {%endblock%}
