{% extends 'core/base.html' %}

{%block title%}
El Mensaje - Galeria de Arte | CONTACTO
{%endblock%}
{% load static %}
{%block css%}
    <link rel="icon" href="{% static 'core/img/el_mensaje_iso.png'%}">
    <link rel="stylesheet" href="{% static 'core/css/contacto.css'%}">
{%endblock%}
 

        {%block content%}
        <div>
            <div class="linea"> - </div>
          </div>
          <div class="cartelera">
              
              <div class="letrina">
                  <div class="exposicion">
                  
                  </div>
                  <div>
                  <h2 class="cartel1">CONTACTO</h2>
                  </div>
                  <div class="cartel2">
                      
                    
                    
                      
                              <p>Puede contactarse con nosotros a traves de los siguientes medios:</p>
                              <br>
                              <p ><a href="mailto:galeriaelmensaje867@gmail.com?Subject=Contacto">galeriaelmensaje867@gmail.com</a></p>
                              <br>
                              <p>(011)25230500</p>
                              <br>
                              <p >Arenales 867 - CABA</p>
                              <br>
                    
                              <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6568.666252578426!2d-58.38232857401071!3d-34.595736892718314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccab6f11cd1e1%3A0x16451ab6560fd992!2sEL%20MENSAJE%20-%20Galer%C3%ADa%20de%20Arte!5e0!3m2!1ses!2sar!4v1647366027497!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                     
                
   
  
                    
                    
                    
                  
                  
                  </div>
              </div>
          </div>
      
          <div>
  
            
            </div>
            <div class="divlogosolo">
              <img class="logosolo" src="{% static 'core/img/el_mensaje_positivo_iso.png'%}" alt="elmensajelogo">
              
          </div>
          
            
          </header>
          {%endblock%}
      
