{%block content%}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/validacion.js'%}"></script>
    
    
  
 </div>  
  </body>
  <footer>
    <div>
      <div class="lineafooter"> - </div>
    </div>
    <br>
    <br>
    <div class="iconos">
          
      <a class="redes" href="https://www.facebook.com/El-Mensaje-Galer%C3%ADa-de-Arte-476773929187995/" target="blank"><i class="fab fa-facebook">&nbsp&nbsp&nbsp&nbsp</i></a>
      
      <a class="redes"  href="https://www.instagram.com/galeriaelmensaje/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>

    </div>
    <br>
    <br>
    <div class="direccion"> <strong>GALERIA EL MENSAJE &nbsp&nbsp&nbsp&nbsp</strong> Arenales 867, CP 1007, CABA / galeriaelmensaje867@gmail.com </div>
    <br>
    <br>
    <div class="nav2">
    <p><a class="nav2" href="index.html">INICIO</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp <a class="nav2" href="{% url 'subasta' %}">SUBASTA</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp <a class="nav2" href="venta_directa.html">VENTA DIRECTA</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp <a class="nav2" href="{% url 'compra' %}">RECEPCION DE OBRAS</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp <a class="nav2" href="{% url 'contacto' %}">CONTACTO</a></p>
    </div>
    <div ><a class="term" href="{% url 'terms' %}">TÉRMINOS Y CONDICIONES</a></div>
    <br>
    
  </footer>
  <a href="https://wa.me/5491125230500?text=Hola, Me interesaría saber mas acerca de..." class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
  
  </html>

  {%endblock%}