{% extends 'core/base.html' %}

{%block title%}
El Mensaje - Galeria de Arte | TERMINOS Y CONDICIONES
{%endblock%}
{% load static %}
{%block css%}
    <link rel="icon" href="{% static 'core/img/el_mensaje_iso.png'%}">
    <link rel="stylesheet" href="{% static 'core/css/contacto.css'%}">
{%endblock%}
 

        {%block content%}

<div class="linea"> - </div>
        </div>
        <div class="cartelera">
            
            <div class="letrina">
                <div class="exposicion">
                <p class="cartel1"></p>
                </div>
                <div class="artista">
                <p class="cartel1">Condiciones de venta</p>
                </div>
                <div class="cartel2">
                <p>1.	 Los precios están expresados en DOLARES ESTADOUNIDENSES. Los pagos deberán realizarse en billetes de la moneda estadounidense.</p>
 

                <p>2.	El comprador deberá abonar en el acto de la adquisición el 20 % de seña y el 10 % de comisión más I.V.A. sobre dicha comisión. El saldo será abonado dentro de las 48 horas de la fecha de la subasta.</p>
                  
                  
                <p>3.	Los lotes se venden el “estado en que se encuentran”. Los eventuales oferentes podrán inspeccionar las obras antes de presentar sus ofertas a fin de determinar su condición, tamaño y constatar si las mismas han sido reparadas o restauradas, para lo cual contarán con toda la colaboración, apoyo e información que se disponga. </p>
                  
                  
                <p>4.	Las obras serán entregadas una vez cancelado el valor total de las mismas.</p>
                  
                <p>5.	La casa no se responsabiliza por las obras no retiradas en término, pudiendo disponer de ellas con pérdida para el comprador de las sumas ya abonadas.</p>
                  
                <p>6.	Las obras serán entregadas con la documentación pertinente si la tuviera y un certificado de autenticidad extendido por nuestra empresa. En caso que el comprador quisiera el certificado sobre foto, la misma deberá ser facilitada por el adquirente. </p>
                  
                <p>7.	Para el caso de incumplimiento del pago en el plazo estipulado (48 horas desde la venta), la Galería El Mensaje podrá: a) Exigir del comprador el pago del precio total de la compra y de los gastos administrativos, seguros, almacenajes, gastos y honorarios que la gestión de cobro ocasione. Debiendo adicionarse un 10 % mensual sobre el saldo adeudado hasta su efectivo pago, en carácter de cláusula penal. b) Dar por rescindida la venta, reteniendo en carácter de indemnización compensatoria todos los pagos efectuados por el comprador, quedando liberados para disponer, sin restricción alguna de la pieza en cuestión. Además, se considera que un comprador que haya incurrido en incumplimiento nos ha otorgado un derecho de garantía real sobre cualquier objeto o dinero del mismo, o bien que se le adeude, que esté en nuestra posesión. </p>

                  
                <p>  8.	El comprador deberá retirar por propia cuenta y cargo todo lote vendido antes de tres (3) días hábiles desde la venta. Los gastos de transporte serán a cargo del comprador, así como la responsabilidad por los daños que pudieran ocasionarse durante el mismo. En caso de no retirarlo, deberá abonar, a partir de esa fecha, un recargo del 2 % mensual del precio de venta a partir del décimo día posterior a la venta y hasta el retiro efectivo del lote, estableciéndose un mínimo del 8 % del precio total de compra por cualquier lote retirado dentro de los sesenta (60) días posteriores a la fecha de la venta, o podremos, a nuestra elección, enviar la mercadería adquirida a un depósito público o privado, a cuenta y riesgo del comprador.</p>

                  
                <p>9.	Rigen las normas vigentes a la jurisdicción donde se realiza la subasta, a las cuales tanto el comprador como el vendedor aceptan someterse y declaran bajo juramento que las obras de arte y los fondos provienen de orígenes lícitos y asumen cualquier responsabilidad penal tributaria al respecto. En ningún caso nuestra responsabilidad hacia un comprador excederá el precio de compra efectivamente pagado.</p>
                  
                  
                  
                  
                  
                
                <p class="cartel2"></p>
                </div>
            </div>
        </div>
    
        <div>
    
        </div>

        <div class="divlogosolo">
          <img src="{% static 'core/img/el_mensaje_positivo_iso.png'%}" alt="elmensajelogo">
          
      </div>

    </header>
    {%endblock%}
